* {
    margin: 0px;
    padding: 0px;
}

body {
    width: 100%;
    background-color: #edf2f4;
    box-sizing: border-box;
    font-size: 20px;
}

nav {
    background-color: #dfe4e7;
    position: fixed;
    width: 100%;
    display: flex;
    padding-right: 1rem;
    justify-content: flex-end;
    z-index: 1;
}

nav a {
    padding: 1rem;
}

a {
    text-decoration: none;
    color: black;
    font-size: 1rem;
}

a:hover {
    background-color: #adb1b3;
}

a:active {
    font-weight: bold;
}

main {
    position: absolute;
    margin: 2rem 1rem;
}

#title {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 2rem;
}

.name {
    text-align: right;
}

h1 {
    font-size: 4rem;
}

h3 {
    font-size: 2rem;
}

img {
    width: 15rem;
    margin: 2rem 0;
    border-radius: 50%;
}
section {
    margin-bottom: 3rem;
}
h2 {
    font-size: 3rem;
    padding: 1rem 0;
}

p {
    line-height: 1.5;
    text-indent: 1.5rem;
}
